<section class="course-info">
    <div class="row">
        <div class="col-md-9">
            <h1>Titolo del corso</h1>
        </div>
        <div class="col-md-3 d-flex align-items-end">
            <a class="btn btn-warning btn-lg btn-block subscribe-course">Iscriviti</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nobis ut adipisci, facere commodi modi hic molestias perferendis voluptate? Expedita veritatis repudiandae amet? Id, officia nesciunt iste cupiditate consectetur nulla.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, eligendi aspernatur esse architecto perspiciatis laboriosam sed eos ducimus nihil explicabo sapiente illum error repudiandae fugit veniam obcaecati, iste rem corporis!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit tempora eveniet, odio quas est placeat ullam, sunt adipisci distinctio ipsa exercitationem assumenda. Aut recusandae rerum cupiditate maxime itaque, fuga ut!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit maxime, inventore, temporibus at autem facilis ad voluptas officia obcaecati dignissimos dolores itaque porro. Nesciunt, voluptas provident fuga est facilis reiciendis?</p>
        </div>
        <div class="col-md-3">
            <aside>
                <author>di Nome Autore</author>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">EUR 9,99<br /><s>EUR 19,99</s></div>
                <img src="/logo.svg" class="img-fluid course-image" width="100" height="100">
            </aside>
        </div>
    </div>
</section>

<section class="course-lessons">
	<h2>Lezioni</h2>
	@for(int i=1; i<=10; i++)
	{
	<hr>
	<div class="row">
		<div class="col-md-9 d-flex align-items-center">
            <a href="#">Titolo della lezione @i</a>
		</div>
		<div class="col-md-3 d-flex align-items-center justify-content-end lesson-duration">
			<i class="far fa-clock"></i><time>1m 30s</time>
		</div>
	</div>
	}
    <hr>
    <div class="row course-duration">
		<div class="col-md-9 d-flex align-items-center">
            Totale
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-end">
            <i class="far fa-clock"></i><time>15m</time>
        </div>
    </div>
</section>